<footer class="footer">
  <div class="footer-content-container">
    <div class="footer-row">
      <div class="footer-links">
        <a href="/"><i class="fa fa-home"></i>&nbsp;&nbsp;Home</a>
        <a
          href="mailto:mdl@lamache.org"
          target="_blank"
          rel="noopener noreferrer"
          ><i class="fa fa-envelope"></i>&nbsp;&nbsp;Email Us</a
        >
        <a
          href="/Constitution.pdf"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fa fa-file-text"></i>&nbsp;&nbsp;Constitution</a
        >
      <a href="/mentions/Mentions-legales.html" target="_blank" rel="noopener noreferrer"><i class="fa fa-file-text"></i>&nbsp;&nbsp;Mentions légales</a>
      <a href="#"><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;Top</a>
        <a href="#"><i class="fa fa-arrow-up"></i>&nbsp;&nbsp;Top</a>
      </div>
      {% include socials.html %}
    </div>
    <div class="logo-container">
      <a href="/"><img class="logo" src="/img/logo.svg" /></a>
    </div>
  </div>
</footer>
